* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}

.container {
  width: 30vw;
  height: 60vh;
  background-color: white;
  padding: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

#auto-text {
  color: black;
  font-size: 1.2rem;
  white-space: pre-wrap;
  text-align: center;
}
